<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Seznam osob</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/normalize.css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" href="/css/skeleton.css" th:href="@{/css/skeleton.css}">
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}">
    <link rel="icon" type="image/png" href="/images/favicon.png" th:href="@{/images/favicon.png}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
</head>
<body>
<main class="container">
    <h1 class="mt-5 mb-3">Zoznam žiakov v triede <span th:text="${trida.nazev}">nazov</span></h1>
    <h2>Triedny učiteľ: <span th:text="${trida.tridniUcitel.jmeno}">Meno</span>&nbsp<span th:text="${trida.tridniUcitel.prijmeni}">Priezvisko</span></h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Žiak</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student: ${studenti}">
            <td>
                <a th:href="@{/trida/{tridaNazev}/{student}(tridaNazev=${trida.nazev}, student=${student.id})}"><span th:text="${student.jmeno}">Meno</span>&nbsp<span th:text="${student.prijmeni}">Priezvisko</span></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="controls">
        <a th:href="@{/}" class="button">Späť na zoznam tried</a>
    </div>
</main>
</body>
</html>
